body {
	margin: 0px;
}

#banner, #footer {
background: #8FD8D8;
text-align:center;
border-width: 2px 0px;
border-style:solid;
border-color:#96CDCD;

}
#banner img{
	vertical-align: bottom; 
	width: 400px;}


#footer { 
	margin-top:50px;}
	
#tutvustus{
font-size: 130%;
}


